@inherits BasePkmdsComponent

@if (AppState.SaveFile is { } saveFile)
{
    <PartyGrid />

    <div class="controls-container">
        <MudIconButton OnClick="@NavigateLeft"
                       Title="Navigate Left"
                       ButtonType="@ButtonType.Button"
                       Icon="@Icons.Material.Filled.ArrowLeft"
                       Variant="@Variant.Filled"
                       Class="navigate-button">
        </MudIconButton>

        <div class="select-container">
            <MudSelect @bind-Value="@saveFile.CurrentBox"
                       @bind-Value:after="@AppService.ClearSelection"
                       Class="box-select">
                @for (var boxId = 0; boxId < saveFile.BoxCount; boxId++)
                {
                    var boxName = saveFile is IBoxDetailNameRead boxDetailNameRead ? boxDetailNameRead.GetBoxName(boxId) : string.Empty;
                    <MudSelectItem Value="@boxId">
                        @boxName
                    </MudSelectItem>
                }
            </MudSelect>
        </div>

        <MudIconButton OnClick="@NavigateRight"
                       Title="Navigate Right"
                       ButtonType="@ButtonType.Button"
                       Icon="@Icons.Material.Filled.ArrowRight"
                       Variant="@Variant.Filled"
                       Class="navigate-button">
        </MudIconButton>
    </div>

    <BoxComponent BoxNumber="@saveFile.CurrentBox" />
}
