@inherits BasePkmdsComponent

@if (Pokemon is not null &&
     AppState.SaveFile is
     {
         Context: not
         (EntityContext.None or
         EntityContext.SplitInvalid or
         EntityContext.MaxInvalid),
         Generation: var saveGeneration
     } &&
     AppState.SelectedSlotsAreValid)
{
    <MudSelect Label="Origin Game"
               Variant="@Variant.Outlined"
               @bind-Value="@Pokemon.Version"
               @bind-Value:after="@OriginGameChanged"
               ToStringFunc="@(version => GameInfo.GetVersionName(version))"
               Disabled="@(saveGeneration <= 2)"
               For="@(() => Pokemon.Version)">
        @foreach (var gameVersion in GameInfo.FilteredSources.Games)
        {
            <MudSelectItem Value="@((GameVersion)gameVersion.Value)"
                           @key="@((GameVersion)gameVersion.Value)" />
        }
    </MudSelect>

    @* ReSharper disable once CSharpWarnings::CS8603 *@
    <MudAutocomplete T="@ComboItem"
                     Label="Met Location"
                     Variant="@Variant.Outlined"
                     @bind-Value:get="@GetMetLocation()"
                     @bind-Value:set="@(metLocation => Pokemon.MetLocation = (ushort)metLocation.Value)"
                     SearchFunc="@SearchMetLocations"
                     ToStringFunc="@(metLocation => metLocation?.Text)" />

    @if (saveGeneration >= 3)
    {
        <MudSelect Label="Ball"
                   Variant="@Variant.Outlined"
                   @bind-Value="@Pokemon.Ball"
                   For="@(() => Pokemon.Ball)">
            @foreach (var ball in GameInfo.FilteredSources.Balls.DistinctBy(ball => ball.Value))
            {
                <MudSelectItem Value="@((byte)ball.Value)"
                               @key="@ball.Value">
                    <MudStack Row>
                        <MudImage Src="@SpriteHelper.GetBallSpriteFilename(ball.Value)"
                                  Alt="@ball.Text"
                                  title="@ball.Text"
                                  ObjectFit="@ObjectFit.Contain"
                                  ObjectPosition="@ObjectPosition.Center"
                                  Width="22"
                                  Height="22" />
                        <MudText>
                            @ball.Text
                        </MudText>
                    </MudStack>
                </MudSelectItem>
            }
        </MudSelect>
    }

    @if (saveGeneration >= 2)
    {
        <MudNumericField Label="Met Level"
                         Variant="@Variant.Outlined"
                         @bind-Value="@Pokemon.MetLevel"
                         For="@(() => Pokemon.MetLevel)" />
    }

    @switch (saveGeneration)
    {
        case 2 when Pokemon is PK2:
            <MudSelect Label="Time of Day"
                       T="@MetTimeOfDay"
                       Variant="@Variant.Outlined"
                       Value="@GetMetTimeOfDay"
                       ValueChanged="@SetMetTimeOfDay">
                @foreach (var timeOfDay in Enum.GetValues<MetTimeOfDay>())
                {
                    <MudSelectItem Value="@timeOfDay"
                                   @key="timeOfDay">
                        @timeOfDay.ToString()
                    </MudSelectItem>
                }
            </MudSelect>
            break;
        case >= 4:
            <label for="met-date">
                Met Date
            </label>
            <InputDate Type="@InputDateType.Date"
                       id="met-date"
                       @bind-Value="@Pokemon.MetDate" />
            break;
    }

    @if (saveGeneration >= 4)
    {
        <MudCheckBox Label="This Pokémon was met as an Egg"
                     T="@bool"
                     Value="@PokemonMetAsEgg"
                     ValueChanged="@MetAsEggChanged"
                     For="@(() => Pokemon.FatefulEncounter)" />
    }

    @if (saveGeneration >= 4 && PokemonMetAsEgg)
    {
        @* ReSharper disable once CSharpWarnings::CS8603 *@
        <MudAutocomplete T="@ComboItem"
                         Label="Egg Met Location"
                         Variant="@Variant.Outlined"
                         @bind-Value:get="@GetEggMetLocation()"
                         @bind-Value:set="@(metLocation => Pokemon.EggLocation = (ushort)metLocation.Value)"
                         DebounceInterval="200"
                         SearchFunc="@SearchEggMetLocations"
                         ToStringFunc="@(metLocation => metLocation?.Text)" />

        <label for="egg-met-date">
            Met Date
        </label>
        <InputDate Type="@InputDateType.Date"
                   id="egg-met-date"
                   @bind-Value="@Pokemon.EggMetDate" />
    }

    <MudCheckBox Label="Is Egg"
                 @bind-Value="@Pokemon.IsEgg"
                 @bind-Value:after="@RefreshService.Refresh"
                 For="@(() => Pokemon.IsEgg)" />

    @if (saveGeneration >= 3)
    {
        <MudCheckBox Label="Fateful Encounter"
                     @bind-Value="@Pokemon.FatefulEncounter"
                     For="@(() => Pokemon.FatefulEncounter)" />
    }
}
