@inherits BasePkmdsComponent

@if (Pokemon is not null &&
     AppState is
     {
         SaveFile.Context: var saveFileEntityContext and not
         (EntityContext.None or
         EntityContext.SplitInvalid or
         EntityContext.MaxInvalid),
         SelectedSlotsAreValid: true
     })
{
    <MudStack Spacing="1">

        <MudStack Spacing="1">
            <MudCheckBox @bind-Value="@UseTextSearch"
                         Label="Use text search"/>

            @for (var counter = 0; counter < Pokemon.Moves.Length; counter++)
            {
                var i = counter;
                var displayNumber = i + 1;
                var moveId = Pokemon.Moves[i];
                var showPlusMove = saveFileEntityContext.GetSingleGameVersion() == GameVersion.ZA;
                var showMasteredMove = saveFileEntityContext.GetSingleGameVersion() == GameVersion.PLA;

                var moveTextColumns = 6;
                if (UseTextSearch)
                    moveTextColumns--;
                if (showPlusMove)
                    moveTextColumns--;
                if (showMasteredMove)
                    moveTextColumns--;

                <MudGrid Spacing="1">
                    @if (UseTextSearch)
                    {
                        <MudItem xs="1"
                                 Class="@ColumnClass">
                            @if (moveId != 0)
                            {
                                @MoveTypeSummary(MoveInfo.GetType(moveId, saveFileEntityContext))
                            }
                            else
                            {
                                <span style="width: 30px"></span>
                            }
                        </MudItem>
                    }

                    <MudItem xs="@moveTextColumns"
                             Class="@ColumnClass">
                        @if (UseTextSearch)
                        {
                            @* ReSharper disable once CSharpWarnings::CS8603 *@
                            <MudAutocomplete T="@ComboItem"
                                             Label="@($"Move {displayNumber}")"
                                             Variant="@Variant.Outlined"
                                             Margin="@Margin.Dense"
                                             Clearable
                                             @bind-Value:get="@(AppService.GetMoveComboItem(moveId))"
                                             @bind-Value:set="@(newMove => SetPokemonMove(i, newMove))"
                                             SearchFunc="@SearchMoves"
                                             ToStringFunc="@(move => move?.Text)">

                                <ItemTemplate Context="move">
                                    @MoveRenderFragment(move, saveFileEntityContext)
                                </ItemTemplate>

                            </MudAutocomplete>
                        }
                        else
                        {
                            <MudSelect T="@(int?)"
                                       Label="@($"Move {displayNumber}")"
                                       Variant="@Variant.Outlined"
                                       Margin="@Margin.Dense"
                                       Clearable
                                       @bind-Value:get="@(GetPokemonMove(i))"
                                       @bind-Value:set="@(newMove => SetPokemonMove(i, newMove))">
                                @* ReSharper disable once ConditionalAccessQualifierIsNonNullableAccordingToAPIContract *@
                                @foreach (var move in AppService.GetMoves())
                                {
                                    <MudSelectItem Value="@move?.Value">
                                        @MoveRenderFragment(move, saveFileEntityContext)
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        }
                    </MudItem>

                    <MudItem xs="2"
                             Class="@ColumnClass">
                        <MudNumericField Label="PP"
                                         T="@int"
                                         Variant="@Variant.Outlined"
                                         Min="0"
                                         Margin="@Margin.Dense"
                                         @bind-Value:get="@GetPokemonPP(i)"
                                         @bind-Value:set="@(newValue => SetPokemonPP(i, newValue))"/>

                    </MudItem>

                    <MudItem xs="2"
                             Class="@ColumnClass">
                        <MudNumericField Label="Ups"
                                         T="@int"
                                         Variant="@Variant.Outlined"
                                         Max="3"
                                         Min="0"
                                         Margin="@Margin.Dense"
                                         @bind-Value:get="@GetPokemonPPUps(i)"
                                         @bind-Value:set="@(newValue => SetPokemonPPUps(i, newValue))"/>
                    </MudItem>

                    <MudItem xs="2"
                             Class="@ColumnClass">
                        <MudNumericField Label="Max"
                                         T="@int"
                                         Variant="@Variant.Outlined"
                                         Value="@Pokemon.GetMaxPP(i)"
                                         ReadOnly
                                         Margin="@Margin.Dense"
                                         HideSpinButtons/>
                    </MudItem>

                    @if (showPlusMove)
                    {
                        var localMoveId = Pokemon.GetMove(i);
                        var plusFlagIndex = PersonalInfo9ZA.PlusMoves.IndexOf(localMoveId);
                        <MudItem xs="1"
                                 Class="@ColumnClass">
                            <MudCheckBox Label="+"
                                         Dense
                                         title="Plus Move"
                                         @bind-Value:get="@GetPokemonMoveIsPlus(plusFlagIndex)"
                                         @bind-Value:set="@(newValue => SetPokemonMoveIsPlus(plusFlagIndex, newValue))"/>
                        </MudItem>
                    }
                    
                    @if (showMasteredMove && Pokemon is IMoveShop8Mastery)
                    {
                        var localMoveId = Pokemon.GetMove(i);
                        var masteredFlagIndex = GetMasteredRecordIndex(localMoveId);
                        <MudItem xs="1"
                                 Class="@ColumnClass">
                            <MudCheckBox Label="M"
                                         Dense
                                         title="Mastered Move"
                                         Disabled="@(masteredFlagIndex < 0)"
                                         @bind-Value:get="@GetPokemonMoveIsMastered(masteredFlagIndex)"
                                         @bind-Value:set="@(newValue => SetPokemonMoveIsMastered(masteredFlagIndex, newValue))"/>
                        </MudItem>
                    }
                </MudGrid>
            }
        </MudStack>

        @if (Pokemon.HasRelearnMoves())
        {
            <MudStack Spacing="1">
                <MudText Typo="@Typo.h6">Relearn Moves</MudText>
                
                @for (var counter = 0; counter < 4; counter++)
                {
                    var i = counter;
                    var displayNumber = i + 1;
                    var relearnMoveId = Pokemon.GetRelearnMove(i);

                    <MudGrid Spacing="1">
                        @if (UseTextSearch)
                        {
                            <MudItem xs="1"
                                     Class="@ColumnClass">
                                @if (relearnMoveId != 0)
                                {
                                    @MoveTypeSummary(MoveInfo.GetType(relearnMoveId, saveFileEntityContext))
                                }
                                else
                                {
                                    <span style="width: 30px"></span>
                                }
                            </MudItem>
                        }

                        <MudItem xs="@(UseTextSearch ? 11 : 12)"
                                 Class="@ColumnClass">
                            @if (UseTextSearch)
                            {
                                @* ReSharper disable once CSharpWarnings::CS8603 *@
                                <MudAutocomplete T="@ComboItem"
                                                 Label="@($"Relearn {displayNumber}")"
                                                 Variant="@Variant.Outlined"
                                                 Margin="@Margin.Dense"
                                                 Clearable
                                                 @bind-Value:get="@(AppService.GetMoveComboItem(relearnMoveId))"
                                                 @bind-Value:set="@(newMove => SetPokemonRelearnMove(i, newMove))"
                                                 SearchFunc="@SearchMoves"
                                                 ToStringFunc="@(move => move?.Text)">

                                    <ItemTemplate Context="move">
                                        @MoveRenderFragment(move, saveFileEntityContext)
                                    </ItemTemplate>

                                </MudAutocomplete>
                            }
                            else
                            {
                                <MudSelect T="@(int?)"
                                           Label="@($"Relearn {displayNumber}")"
                                           Variant="@Variant.Outlined"
                                           Margin="@Margin.Dense"
                                           Clearable
                                           @bind-Value:get="@(GetPokemonRelearnMove(i))"
                                           @bind-Value:set="@(newMove => SetPokemonRelearnMove(i, newMove))">
                                    @* ReSharper disable once ConditionalAccessQualifierIsNonNullableAccordingToAPIContract *@
                                    @foreach (var move in AppService.GetMoves())
                                    {
                                        <MudSelectItem Value="@move?.Value">
                                            @MoveRenderFragment(move, saveFileEntityContext)
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </MudItem>
                    </MudGrid>
                }

                @if (Pokemon is PA8 pa8)
                {
                    var alphaMoveId = pa8.AlphaMove;
                    <MudGrid Spacing="1">
                        @if (UseTextSearch)
                        {
                            <MudItem xs="1"
                                     Class="@ColumnClass">
                                @if (alphaMoveId != 0)
                                {
                                    @MoveTypeSummary(MoveInfo.GetType(alphaMoveId, saveFileEntityContext))
                                }
                                else
                                {
                                    <span style="width: 30px"></span>
                                }
                            </MudItem>
                        }

                        <MudItem xs="@(UseTextSearch ? 11 : 12)"
                                 Class="@ColumnClass">
                            @if (UseTextSearch)
                            {
                                @* ReSharper disable once CSharpWarnings::CS8603 *@
                                <MudAutocomplete T="@ComboItem"
                                                 Label="Alpha Move"
                                                 Variant="@Variant.Outlined"
                                                 Margin="@Margin.Dense"
                                                 Clearable
                                                 @bind-Value:get="@(AppService.GetMoveComboItem(alphaMoveId))"
                                                 @bind-Value:set="@(newMove => SetAlphaMove(newMove))"
                                                 SearchFunc="@SearchMoves"
                                                 ToStringFunc="@(move => move?.Text)">

                                    <ItemTemplate Context="move">
                                        @MoveRenderFragment(move, saveFileEntityContext)
                                    </ItemTemplate>

                                </MudAutocomplete>
                            }
                            else
                            {
                                <MudSelect T="@(int?)"
                                           Label="Alpha Move"
                                           Variant="@Variant.Outlined"
                                           Margin="@Margin.Dense"
                                           Clearable
                                           @bind-Value:get="@GetAlphaMove()"
                                           @bind-Value:set="@SetAlphaMove">
                                    @* ReSharper disable once ConditionalAccessQualifierIsNonNullableAccordingToAPIContract *@
                                    @foreach (var move in AppService.GetMoves())
                                    {
                                        <MudSelectItem Value="@move?.Value">
                                            @MoveRenderFragment(move, saveFileEntityContext)
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        </MudItem>
                    </MudGrid>
                }

                @if (Pokemon is ITechRecord)
                {
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Primary"
                               OnClick="@OpenRelearnFlagsDialog">
                        Relearn Flags
                    </MudButton>
                }
                
                @if (Pokemon is IMoveShop8)
                {
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Primary"
                               OnClick="@OpenMoveShopDialog">
                        Move Shop
                    </MudButton>
                }
                
                @if (Pokemon is PA9)
                {
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Primary"
                               OnClick="@OpenPlusFlagsDialog">
                        Plus Flags
                    </MudButton>
                }
            </MudStack>
        }

        @if (GameInfo.FilteredSources.Moves.Any(m => m.Value == (int)Move.HiddenPower) && Pokemon is not { Context: EntityContext.Gen8 or EntityContext.Gen9 })
        {
            <HiddenPowerChooser Pokemon="@Pokemon"/>
        }

    </MudStack>
}

@code {

    private RenderFragment MoveRenderFragment(ComboItem? move, EntityContext saveFileEntityContext)
    {
        if (move is null)
        {
            return @<span>(None)</span>;
        }

        return @<MudStack Row>
                   @if (move.Value != 0)
                   {
                       @MoveTypeSummary(MoveInfo.GetType((ushort)move.Value, saveFileEntityContext))
                   }
                   <MudText>
                       @move.Text
                   </MudText>
               </MudStack>;
    }

}
