@if (Pokemon is not null &&
AppState.SaveFile?.Context is EntityContext saveFileEntityContext &&
saveFileEntityContext is not
EntityContext.None or
EntityContext.SplitInvalid or
EntityContext.MaxInvalid &&
AppState.SelectedBoxNumber is not null &&
AppState.SelectedSlotNumber is not null)
{
    <MudStack Row="@true"
              Spacing="3"
              Justify="@Justify.FlexEnd">

        <MudButton OnClick="@AppState.ClearSelection"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   Class="my-2">
            Clear Selection
        </MudButton>

        <MudButton OnClick="@(() => AppState.SavePokemon(Pokemon))"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   Class="my-2"
                   Color="@Color.Primary">
            Save
        </MudButton>

    </MudStack>

    <div class="mb-2">

        <MudTabs Outlined="true"
                 Rounded="true"
                 Border="true">

            <MudTabPanel Text="Main">
                <MainTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Met">
                <MetTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Stats">
                <StatsTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Moves">
                <MovesTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Cosmetic">
                <CosmeticTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="OT/Misc">
                <OtMiscTab Pokemon="@Pokemon" />
            </MudTabPanel>

        </MudTabs>

    </div>
}
