@using Pkmds.Rcl.Components.EditForms.Tabs
@inherits BasePkmdsComponent

@if (Pokemon is not null &&
     AppState.SaveFile is
     {
         Context: not
         (EntityContext.None or
         EntityContext.SplitInvalid or
         EntityContext.MaxInvalid),
         Generation: var saveGeneration
     } &&
     AppState.SelectedSlotsAreValid)
{
    <div class="button-container">

        <MudButton OnClick="@DeletePokemon"
                   ButtonType="@ButtonType.Button"
                   Color="@Color.Error"
                   Size="@Size.Small"
                   Variant="@Variant.Filled"
                   Class="my-2"
                   StartIcon="@Icons.Material.Filled.Delete"
                   title="Delete Pokémon"
                   Disabled="@(Pokemon.Species.IsInvalidSpecies())">
            Delete
        </MudButton>

        <MudButton OnClick="@(() => AppService.SavePokemon(Pokemon))"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Class="my-2"
                   Color="@Color.Primary"
                   Size="@Size.Small"
                   title="Save Pokémon"
                   Disabled="@(Pokemon.Species.IsInvalidSpecies())">
            Save
        </MudButton>

        <MudButton OnClick="@OnClickCopy"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ContentCopy"
                   Class="my-2"
                   Color="@Color.Default"
                   Size="@Size.Small"
                   title="Copy Pokémon"
                   Disabled="@(Pokemon.Species.IsInvalidSpecies())">
            Copy
        </MudButton>

        <MudButton OnClick="@OnClickPaste"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ContentPaste"
                   Class="my-2"
                   Color="@Color.Default"
                   Size="@Size.Small"
                   title="Paste Pokémon"
                   Disabled="@(AppState.CopiedPokemon is null)">
            Paste
        </MudButton>

        <MudButton OnClick="@ExportAsShowdown"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Share"
                   Class="my-2"
                   Color="@Color.Default"
                   Size="@Size.Small"
                   title="Export Pokémon as Showdown"
                   Disabled="@(Pokemon.Species.IsInvalidSpecies())">
            Showdown
        </MudButton>

    </div>

    <div class="mb-20">

        <MudTabs Outlined
                 Rounded
                 Border>

            <MudTabPanel Text="Main">
                <MainTab Pokemon="@Pokemon"/>
            </MudTabPanel>

            @if (saveGeneration >= 2)
            {
                <MudTabPanel Text="Met">
                    <MetTab Pokemon="@Pokemon"/>
                </MudTabPanel>
            }

            <MudTabPanel Text="Stats">
                <StatsTab Pokemon="@Pokemon"/>
            </MudTabPanel>

            <MudTabPanel Text="Moves">
                <MovesTab Pokemon="@Pokemon"/>
            </MudTabPanel>

            @if (saveGeneration >= 3)
            {
                <MudTabPanel Text="Cosmetic">
                    <CosmeticTab Pokemon="@Pokemon"/>
                </MudTabPanel>
            }

            <MudTabPanel Text="OT/Misc">
                <OtMiscTab Pokemon="@Pokemon"/>
            </MudTabPanel>

        </MudTabs>

    </div>
}
