@using Pkmds.Rcl.Extensions
@inherits BasePkmdsComponent

@if (AppState is { SaveFile: not null } && mysteryGiftsList.Count > 0)
{
    <MudPagination @bind-Selected="@currentPage"
                   @bind-Selected:after="@GoToPage"
                   Count="@TotalPages"
                   ShowNextButton/>

    <MudSelect T="int"
               @bind-Value="itemsPerPage"
               @bind-Value:after="OnPageSizeChange"
               Label="Items per page">
        @foreach (var pageSize in pagesSizes)
        {
            <MudSelectItem Value="pageSize">
                @pageSize
            </MudSelectItem>
        }
    </MudSelect>

    <MudTextField Label="Search"
                  Variant="@Variant.Outlined"
                  @bind-Value="@SearchText"
                  @bind-Value:after="@OnSortOrFilterChanged"/>

    <div class="overflow-scroll"
         style="height: calc(100vh - 300px);">
        <MudGrid Spacing="1">
            @foreach (var mysteryGift in paginatedItems)
            {
                <MudItem xs="12"
                         sm="6"
                         md="4"
                         lg="3"
                         xl="2"
                         Class="@ColumnClass">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                @{
                                    var pokemonName = AppService.GetPokemonSpeciesName(mysteryGift.Species);
                                    if (string.IsNullOrEmpty(pokemonName))
                                    {
                                        pokemonName = "Unknown";
                                    }
                                }
                                <div>
                                    <object class="pkm-sprite"
                                            type="image/png"
                                            style="object-fit: contain;"
                                            data="@SpriteHelper.GetMysteryGiftSpriteFileName(mysteryGift)"
                                            title="@pokemonName">
                                        <img class="pkm-sprite"
                                             src="@(mysteryGift.IsItem
                                                      ? SpriteHelper.ItemFallbackImageFileName
                                                      : SpriteHelper.PokemonFallbackImageFileName)"
                                             alt="@pokemonName"
                                             title="@pokemonName">
                                    </object>
                                </div>
                                <MudText>
                                    @mysteryGift.CardHeader
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            @((MarkupString)RenderListAsHtml(mysteryGift.GetTextLines()))
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton OnClick="@(() => OnClickCopy(mysteryGift))"
                                       ButtonType="@ButtonType.Button"
                                       Variant="@Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.ContentCopy"
                                       Color="@Color.Default"
                                       Size="@Size.Small"
                                       title="Copy Pokémon"
                                       Disabled="@(mysteryGift.Species.IsInvalidSpecies())">
                                Copy
                            </MudButton>
                            <MudButton OnClick="@(() => OnClickImport(mysteryGift))"
                                       ButtonType="@ButtonType.Button"
                                       Variant="@Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.ImportExport"
                                       Color="@Color.Default"
                                       Size="@Size.Small"
                                       title="Import Card"
                                       Disabled="@(mysteryGift.Species.IsInvalidSpecies())">
                                Import
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </div>
}
