@inherits BasePkmdsComponent

@if (AppState.BoxEdit is not null)
{
    <div class="@BoxGridClass">
        @for (var i = 0; i < (AppState.SaveFile?.BoxSlotCount ?? 0); i++)
        {
            var slotNum = i;
            var pkm = AppState.BoxEdit[slotNum];

            <BoxSlotComponent BoxNumberParam="@BoxNumber"
                              SlotNumber="@slotNum"
                              Pokemon="@pkm"
                              OnSlotClick="@(() => SetSelectedPokemon(pkm, BoxNumber, slotNum))"
                              GetClassFunction="@(() => GetClass(slotNum))"/>
        }
    </div>
}
