@inherits BasePkmdsComponent

<MudDialog>
    <DialogContent>
        @if (HintText is not null)
        {
            <MudAlert Severity="@Severity.Info"
                      Class="mb-3">@HintText</MudAlert>
        }
        <MudFileUpload T="@IBrowserFile"
                       Accept="*/*"
                       Hidden="false"
                       InputClass="file-upload-dialog__input"
                       tabindex="-1"
                       @bind-Files="browserFile"
                       @ondragenter="@(() => isDragging = true)"
                       @ondragleave="@(() => isDragging = false)"
                       @ondragend="@(() => isDragging = false)"
                       @ondrop="@(() => isDragging = false)"
                       Class="file-upload-dialog__upload">
            <CustomContent>
                <div class="file-upload-dialog__drop-zone @(isDragging ? "file-upload-dialog__drop-zone--dragging" : "")">
                    <MudIcon Icon="@Icons.Material.Filled.CloudUpload"
                             Color="@Color.Primary"
                             Size="@Size.Large"/>
                    <MudText Typo="@Typo.body1"
                             Class="mt-1">@Message</MudText>
                    <MudText Typo="@Typo.caption"
                             Color="@Color.Secondary">
                        Drag a file here, or click anywhere in this area to browse
                    </MudText>
                </div>
            </CustomContent>
            <SelectedTemplate>
                @if (context != null)
                {
                    <MudText Class="mt-2">
                        @context.Name
                    </MudText>
                }
                else
                {
                    <MudText Class="mt-2">
                        No File
                    </MudText>
                }
            </SelectedTemplate>
        </MudFileUpload>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel"
                   Variant="@Variant.Filled"
                   Color="@Color.Default"
                   StartIcon="@Icons.Material.Filled.Clear">
            Cancel
        </MudButton>
        <MudButton OnClick="@Ok"
                   Variant="@Variant.Filled"
                   Color="@Color.Primary"
                   Disabled="@(browserFile is null)"
                   StartIcon="@Icons.Material.Filled.Check">
            Ok
        </MudButton>
    </DialogActions>
</MudDialog>
