@if (ReadOnly)
{
    <MudField Label="Gender"
              Variant="@Variant.Outlined">
        <MudStack Row
                  Spacing="1"
                  Class="d-flex align-center">
            <img src="@ImageHelper.GetGenderSpriteFileName(Gender)"
                 alt="@Gender.ToString()"
                 style="width:20px;height:20px;"/>
            <span class="leading-none">@Gender.ToString() - Gender cannot be changed.</span>
        </MudStack>
    </MudField>
}
else
{
    <MudSelect T="@Gender"
               Label="Gender"
               Variant="@Variant.Outlined"
               Value="@Gender"
               ValueChanged="@OnChange"
               Dense>
        <MudSelectItem Value="@Gender.Male">
            <MudStack Row>
                <img src="@ImageHelper.GetGenderSpriteFileName(Gender.Male)"
                     alt="Male"
                     style="width:20px;height:20px;"/>
                <MudText>Male</MudText>
            </MudStack>
        </MudSelectItem>
        <MudSelectItem Value="@Gender.Female">
            <MudStack Row>
                <img src="@ImageHelper.GetGenderSpriteFileName(Gender.Female)"
                     alt="Female"
                     style="width:20px;height:20px;"/>
                <MudText>Female</MudText>
            </MudStack>
        </MudSelectItem>
        @if (IncludeGenderless)
        {
            <MudSelectItem Value="@Gender.Genderless">
                <MudStack Row>
                    <img src="@ImageHelper.GetGenderSpriteFileName(Gender.Genderless)"
                         alt="Genderless"
                         style="width:20px;height:20px;"/>
                    <MudText>Genderless</MudText>
                </MudStack>
            </MudSelectItem>
        }
    </MudSelect>
}

@code {

    [Parameter]
    public Gender Gender { get; set; }

    [Parameter]
    public EventCallback<Gender> OnChange { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    [Parameter]
    public bool IncludeGenderless { get; set; }

}
