@inherits BasePkmdsComponent

<MudPaper Elevation="3"
          @onclick="@HandleClick"
          draggable="@(Pokemon is { Species: > 0 })"
          @ondragstart="@HandleDragStart"
          @ondragend="@HandleDragEnd"
          @ondragenter="@HandleDragEnter"
          @ondragover="@HandleDragOver"
          @ondragleave="@HandleDragLeave"
          @ondrop="@HandleDrop"
          Class="@($"square-slot {GetClass()} {GetDragClass()} {SpriteHelper.GetSpriteCssClass(Pokemon)}")">
    <div class="pokemon-slot">
        @if (Pokemon is not null && Pokemon.Species > 0)
        {
            var title = GetPokemonTitle();
            <object class="pkm-sprite"
                    type="image/png"
                    data="@(Pokemon is { Species: > 0 }
                              ? SpriteHelper.GetPokemonSpriteFilename(Pokemon)
                              : null)"
                    title="@title">
                <img class="pkm-sprite"
                     src="@SpriteHelper.PokemonFallbackImageFileName"
                     title="@title"
                     alt="@title">
            </object>
        }
    </div>
</MudPaper>
