@inherits BasePkmdsComponent

@if (AppState is { SaveFile: { } saveFile, BoxEdit: { } boxEdit })
{
    if (saveFile.Version is not GameVersion.RSBOX)
    {
        <PartyGrid/>
    }

    @if (saveFile.Version is GameVersion.LG or GameVersion.GP or GameVersion.GE)
    {
        <LetsGoBoxComponent/>
    }
    else
    {
        <div class="flex m-[5px] p-[5px] items-center h-[50px]">
            <MudIconButton OnClick="@GoToPreviousBox"
                           title="Previous Box"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.ArrowLeft"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>

            <div class="w-[300px] m-1.5 p-1.5">
                <MudSelect Value="@boxEdit.CurrentBox"
                           ValueChanged="@((int newBox) => OnBoxChanged(newBox))"
                           Class="m-1.5 p-1.5">
                    @for (var boxId = 0; boxId < saveFile.BoxCount; boxId++)
                    {
                        var localBoxId = boxId;

                        var boxName = saveFile is IBoxDetailNameRead boxDetailNameRead
                            ? boxDetailNameRead.GetBoxName(localBoxId)
                            : string.Empty;

                        <MudSelectItem Value="@localBoxId"
                                       @key="@localBoxId">
                            @boxName
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>

            <MudIconButton OnClick="@GoToNextBox"
                           title="Next Box"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.ArrowRight"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>
        </div>

        <BoxComponent BoxNumber="@boxEdit.CurrentBox"/>
    }
}
