@if (AppState is
    {
        SaveFile: not null,
        GameStrings: not null,
        SelectedPokemon.Species: > 0
    })
{
    <div>
        <div>
            <span class="box-sprite @(SpriteHelper.GetPokemonSpriteCssClass(AppState.SelectedPokemon))">
            </span>
        </div>

        <div>
            <label for="nickname">
                Nickname:
            </label>
            <span id="nickname">
                @AppState.SelectedPokemon.Nickname
            </span>
        </div>

        <div>
            <label for="speciesName">
                Species:
            </label>
            <span id="speciesName">
                @SpeciesName.GetSpeciesName(AppState.SelectedPokemon.Species, (int)LanguageID.English)
            </span>
        </div>

        <div>
            <label for="formName">
                Form:
            </label>
            <span id="formName">
                @{
                    var forms = FormConverter.GetFormList(
                        AppState.SelectedPokemon.Species,
                        AppState.GameStrings.Types,
                        AppState.GameStrings.forms,
                        AppState.GenderForms,
                        AppState.SaveFile.Context);
                }
                @forms[AppState.SelectedPokemon.Form] (@AppState.SelectedPokemon.Form)
            </span>
        </div>

        <div>
            <label for="gender">
                Gender:
            </label>
            <span id="gender">
                @((Gender)AppState.SelectedPokemon.Gender switch
                {
                    Gender.Female => "Female",
                    Gender.Male => "Male",
                    _ => "Genderless",
                })
            </span>
        </div>

        <div>
            <label for="level">
                Level:
            </label>
            <span id="level">
                @AppState.SelectedPokemon.CurrentLevel
            </span>
        </div>

        <div>
            <label for="isShiny">
                Shiny:
            </label>
            <span id="isShiny">
                @(AppState.SelectedPokemon.IsShiny ? "Yes" : "No")
            </span>
        </div>

        <div>
            <label for="nature">
                Nature:
            </label>
            <span id="nature">
                @AppState.GameStrings.Natures[AppState.SelectedPokemon.Nature]
            </span>
        </div>

        <div>
            <label for="moves">
                Moves:
            </label>
            <ul id="moves">
                @foreach (var move in AppState.SelectedPokemon.Moves)
                {
                    <li>
                        @{
                            var moveName = MoveExtension.IsValidMove(move)
                                ? AppState.GameStrings.Move[move]
                                : "---";
                        }
                        @moveName
                    </li>
                }
            </ul>
        </div>

        <div>
            <StatChart Pokemon="@AppState.SelectedPokemon" />
        </div>
    </div>
}
