@inherits BasePkmdsComponent

<MudPaper Elevation="3"
          @onclick="@HandleClick"
          Class="@GetClass()">
    <div class="pokemon-slot">
        @{ var title = GetPokemonTitle(); }
        <object class="@($"pkm-sprite {SpriteHelper.GetSpriteCssClass(Pokemon)}")"
                type="image/png"
                data="@(Pokemon is { Species: > 0 }
                          ? SpriteHelper.GetPokemonSpriteFilename(Pokemon)
                          : null)"
                title="@title">
            <img class="pkm-sprite"
                 src="@SpriteHelper.PokemonFallbackImageFileName"
                 title="@title"
                 alt="@title">
        </object>
    </div>
</MudPaper>
