@*
<div>
    <MudFileUpload T="IBrowserFile"
                   FilesChanged="HandleFile"
                   Accept=".sav,.bin">

        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="@Variant.Filled"
                       Color="@Color.Primary"
                       for="@context">
                Choose a save file
            </MudButton>
        </ButtonTemplate>

        <SelectedTemplate>
            @if (context != null)
            {
                <MudText>
                    @context.Name
                </MudText>
            }
            else
            {
                <MudText>
                    No File
                </MudText>
            }
        </SelectedTemplate>

    </MudFileUpload>
</div>
*@
@*
<div class="button-container">
    <MudButton OnClick="@LoadSaveFileAsync"
               ButtonType="@ButtonType.Submit"
               Variant="@Variant.Filled"
               Color="@Color.Primary"
               Disabled="@(browserFile is null)">
        Load
    </MudButton>
</div>
*@

@if (AppState.SaveFile is null)
{
    @if(AppState.ShowProgressIndicator)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle"
                     Width="210px"
                     Height="50px" />
        <br />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle"
                     Width="210px"
                     Height="50px" />
        <br />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle"
                     Width="420px"
                     Height="350px" />
    }
}
else
{
    <PageTitle>
        PKMDS Save Editor - @AppState.FileDisplayName
    </PageTitle>

    <MudText Typo="Typo.h5">
        @AppState.FileDisplayName
    </MudText>

    <div class="controls-container">
        <MudIconButton OnClick="@NavigateLeft"
                       ButtonType="@ButtonType.Button"
                       Icon="@Icons.Material.Filled.ArrowLeft"
                       Variant="@Variant.Filled"
                       Class="navigate-button">
        </MudIconButton>

        <div class="select-container">
            <MudSelect T="@int"
                       @bind-Value="@AppState.SaveFile.CurrentBox"
                       @bind-Value:after="@AppState.ClearSelection"
                       Class="box-select">
                @for (var boxId = 0; boxId < AppState.SaveFile.BoxCount; boxId++)
                {
                    var boxName = AppState.SaveFile.GetBoxName(boxId);
                    <MudSelectItem Value="@boxId">
                        @boxName
                    </MudSelectItem>
                }
            </MudSelect>
        </div>

        <MudIconButton OnClick="@NavigateRight"
                       ButtonType="@ButtonType.Button"
                       Icon="@Icons.Material.Filled.ArrowRight"
                       Variant="@Variant.Filled"
                       Class="navigate-button">
        </MudIconButton>
    </div>

    <BoxComponent BoxId="@AppState.SaveFile.CurrentBox" />
}
