@inherits BasePkmdsComponent

@if (AppState is not { SaveFile: { } saveFile })
{
    @if (AppState.ShowProgressIndicator)
    {
        <MudSkeleton SkeletonType="@SkeletonType.Rectangle"
                     Width="210px"
                     Height="50px"/>
        <br/>
        <MudSkeleton SkeletonType="@SkeletonType.Rectangle"
                     Width="210px"
                     Height="50px"/>
        <br/>
        <MudSkeleton SkeletonType="@SkeletonType.Rectangle"
                     Width="480px"
                     Height="350px"/>
    }
}
else
{
    <PageTitle>
        @SaveFileNameDisplay.SaveFileNameDisplayString(AppState, AppService, true)
    </PageTitle>

    <MudText Typo="@Typo.h5">
        @SaveFileNameDisplay.SaveFileNameDisplayString(AppState, AppService)
    </MudText>

    <MudTabs Outlined
             Rounded
             Border>

        <MudTabPanel Text="Party / Box">
            <div class="mt-3">
                <PartyAndBoxTab/>
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Trainer">
            <div class="mt-3">
                <TrainerInfoTab/>
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Bag">
            <div class="mt-3">
                <BagTab Inventory="@AppState.SaveFile.Inventory"/>
            </div>
        </MudTabPanel>

        @if (saveFile.Generation >= 4)
        {
            <MudTabPanel Text="Mystery Gifts">
                <div class="mt-3">
                    <MysteryGiftDatabaseTab/>
                </div>
            </MudTabPanel>
        }

        @if (saveFile.Generation == 3 && saveFile is SAV3 sav3)
        {
            <MudTabPanel Text="Records">
                <RecordsTab SaveFile="@sav3"/>
            </MudTabPanel>
        }

        @if (saveFile.HasPokeDex)
        {
            <MudTabPanel Text="Pokédex">
                <PokedexTab/>
            </MudTabPanel>
        }

    </MudTabs>
}
