@inherits BasePkmdsComponent

@if (Pokemon is not null &&
AppState.SaveFile is { Context: { } saveFileEntityContext, Generation: { } saveGeneration } saveFile &&
saveFileEntityContext is not
EntityContext.None or
EntityContext.SplitInvalid or
EntityContext.MaxInvalid &&
AppState.SelectedSlotsAreValid)
{
    <MudStack Row
              Justify="@Justify.FlexStart">

        <MudButton OnClick="@DeletePokemon"
                   ButtonType="@ButtonType.Button"
                   Color="@Color.Error"
                   Variant="@Variant.Filled"
                   Class="my-2"
                   StartIcon="@Icons.Material.Filled.Delete"
                   Disabled="@(Pokemon.Species == (ushort)Species.None)">
            Delete Pokémon
        </MudButton>

        <MudButton OnClick="@(() => AppService.SavePokemon(Pokemon))"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Class="my-2"
                   Color="@Color.Primary"
                   Disabled="@(Pokemon.Species == (ushort)Species.None)">
            Save
        </MudButton>

        <MudButton OnClick="@OnClickCopy"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ContentCopy"
                   Class="my-2"
                   Color="@Color.Default"
                   Disabled="@(Pokemon.Species == (ushort)Species.None)">
            Copy
        </MudButton>

        <MudButton OnClick="@OnClickPaste"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ContentPaste"
                   Class="my-2"
                   Color="@Color.Default"
                   Disabled="@(CopiedPokemon is null)">
            Paste
        </MudButton>

        <MudButton OnClick="@ExportAsShowdown"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Share"
                   Class="my-2"
                   Color="@Color.Default"
                   Disabled="@(Pokemon.Species == (ushort)Species.None)">
            Export as Showdown
        </MudButton>

    </MudStack>

    <div class="mb-2">

        <MudTabs Outlined
                 Rounded
                 Border>

            <MudTabPanel Text="Main">
                <MainTab Pokemon="@Pokemon" />
            </MudTabPanel>

            @if (saveGeneration >= 2)
            {
                <MudTabPanel Text="Met">
                    <MetTab Pokemon="@Pokemon" />
                </MudTabPanel>
            }

            <MudTabPanel Text="Stats">
                <StatsTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Moves">
                <MovesTab Pokemon="@Pokemon" />
            </MudTabPanel>

            @if (saveGeneration >= 3)
            {
                <MudTabPanel Text="Cosmetic">
                    <CosmeticTab Pokemon="@Pokemon" />
                </MudTabPanel>
            }

            <MudTabPanel Text="OT/Misc">
                <OtMiscTab Pokemon="@Pokemon" />
            </MudTabPanel>

        </MudTabs>

    </div>
}
