@inherits BasePkmdsComponent

@if (Pokemon is not null &&
AppState.SaveFile?.Context is EntityContext saveFileEntityContext &&
saveFileEntityContext is not
EntityContext.None or
EntityContext.SplitInvalid or
EntityContext.MaxInvalid &&
((AppState.SelectedBoxNumber is not null && AppState.SelectedBoxSlotNumber is not null) || (AppState.SelectedPartySlotNumber is not null)))
{
    <MudStack Row
              Spacing="3"
              Justify="@Justify.FlexStart">

        @*
            <MudButton OnClick="@AppService.DeletePokemon"
                       ButtonType="@ButtonType.Button"
                       Variant="@Variant.Filled"
                       Class="my-2"
                       StartIcon="@Icons.Material.Filled.Delete">
                Delete Pokémon
            </MudButton>
        *@

        <MudButton OnClick="@(() => AppService.SavePokemon(Pokemon))"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   Class="my-2"
                   Color="@Color.Primary">
            Save
        </MudButton>

        <MudButton OnClick="@ExportAsShowdown"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   Class="my-2"
                   Color="@Color.Default">
            Export as Showdown
        </MudButton>

    </MudStack>

    <div class="mb-2">

        <MudTabs Outlined
                 Rounded
                 Border>

            <MudTabPanel Text="Main">
                <MainTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Met">
                <MetTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Stats">
                <StatsTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Moves">
                <MovesTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="Cosmetic">
                <CosmeticTab Pokemon="@Pokemon" />
            </MudTabPanel>

            <MudTabPanel Text="OT/Misc">
                <OtMiscTab Pokemon="@Pokemon" />
            </MudTabPanel>

        </MudTabs>

    </div>
}
