@inherits BasePkmdsComponent

@if (AppState.SaveFile is { } saveFile)
{
    <div class="party-grid">
        <MudGrid Spacing="1"
                 Justify="@Justify.FlexStart">
            @for (var i = 0; i < 6; i++)
            {
                var slotNum = i;
                PKM? pkm = i < saveFile.PartyCount ? saveFile.PartyData[slotNum] : null;
                <MudItem xs="2">
                    <PokemonSlotComponent Pokemon="@pkm"
                                          SlotNumber="@slotNum"
                                          OnSlotClick="@(() => SetSelectedPokemon(pkm, slotNum))"
                                          GetStyleFunction="@(() => GetStyle(slotNum))" />
                </MudItem>
            }
        </MudGrid>
        <MudButton OnClick="@ExportAsShowdown"
                   ButtonType="@ButtonType.Button"
                   Variant="@Variant.Filled"
                   Class="my-3"
                   Color="@Color.Default">
            Export Party As Showdown
        </MudButton>
    </div>
}
